
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataGoruntuleme</title>
    <a asp-controller="Patient" asp-action="DoctorLogout">
                    <img src="~/fotograf-yukle/images/logo.png" class="logo-icon">
                    </a> 
</head>
<body>
    
</body>
</html>
